*.o
*.moc
*.pyc
.~lock*
*~
.directory
*.kate-swp
ui/*.h
bin/reso
bin/montereso
bin/taz
bin/takin
bin/scanviewer
perf.data
perf.data.old
gmon.out
Debug/*
Release/*
.clang/*
.codelite/*
.settings/*
takin.txt
takin.mk
montereso.txt
montereso.mk
Makefile
tlibs-master.tar.bz2
tlibs/*
tlibs
